.App {
    margin: 0px;
    height:100vh;
    width:100%;
    text-align: center;
    /* background-color: rgb(53 185 137); */
    background-image: url("./images/backround.jpg");
    background-position: center;
    background-size: cover;

  }
  .container{
    width: 100%;
    backdrop-filter: blur(3px);
    height:100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
  }
  span{
    color:rgb(80, 231, 130);
  }
  .h3{
    color:rgb(223 230 229);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3em;
    perspective: 10px;
    z-index: 5;

  }
  
.home-bt{
    background-color: transparent;
    border: 1px solid white;
      color: white;
      perspective: 10px;
      z-index: 5;
  }
  .home-bt:focus{
    background-color: transparent;
    border: 1px solid white;
      color: white;
      perspective: 10px;
      z-index: 5;
  }

  .modal-title{
      margin-left: 42%;
  }
  .modal-content{
    color:rgb(53 185 137 ); 
    background-color: transparent;
    border-bottom:1px solid  white;
  }
  .form-control{
    background-color: transparent;
    color:rgb(80, 231, 130);
  }
  .form-control:focus{
    background-color: transparent;
    color:rgb(80, 231, 130);
    outline: 0px none;
    box-shadow: none;
    /* box-shadow:inset 0 0px 0 0 rgb(53 185 137) ; */
}
.btn:focus{
  outline: 0px none;
  box-shadow:none ;
}
#reg,#login{
  background-color:transparent ;
  border: 1px solid  white;
  color:  rgb(80, 231, 130);
}
.close:focus{

  outline: 0px none;
  box-shadow:none ;
  border: none;
}
.close-box{
  color: white;
}
.swal-button{
  background-color: transparent;
  color: white;
  border:1px solid white;
}
.swal2-styled.swal2-confirm {
  border: 0;
  border-radius: .25em;
  background: initial;
  background-color: #e46b6b;
  color: #fff;
  font-size: 1.0625em;
}
.swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right):not(.swal2-grow-fullscreen)>.swal2-modal {
  margin: auto;
  background-color: #161313;
  /* color: #c7bebe; */
}
.swal2-title {
  position: relative;
  max-width: 100%;
  margin: 0 0 .4em;
  padding: 0;
  color: #cabfbf;
  font-size: 1.875em;
  font-weight: 600;
  text-align: center;
  text-transform: none;
  word-wrap: break-word;
}
.swal2-content {
  z-index: 1;
  justify-content: center;
  margin: 0;
  padding: 0 1.6em;
  color: #ead2d2;
  font-size: 1.125em;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  word-wrap: break-word;
}
.swal2-styled.swal2-confirm {
  /* border: 0; */
  border-radius: .25em;
  background: initial;
  /* background-color: #e46b6b; */
  color: #fff;
  font-size: 1.0625em;
  border: 1px solid;
  padding-left: 1.5em;
  padding-right: 1.5em;
}